//Definição do tema
$white: #fff;
$black: #000;
$gray-50: #f4f4f4;
$gray-100: #ededed;
$gray-400: #949da6;
$gray-500: #5e6b7a;
$gray-600: #4c5b6b;
$gray-900: #282828;
$pink-500: #ffb7ad;
$blue-500: #77ecff;
$blue-600: #6cc2d5;
$blue-650: #6bc2d5;
$blue-700: #00a8c3;
$red-500: #fb5c47;
$orange-500: #ffae80;
